<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedElite-Services</title>
    <link rel="stylesheet" type="text/css" href="css/services.css">
    <link rel="icon" sizes="16x16" href="./Assets/getlogo.png">
    <link rel="icon" sizes="32x32" href="./Assets/getlogo.png">
    <link rel="icon" sizes="48x48" href="./Assets/getlogo.png">
    <link rel="icon" sizes="96x96" href="./Assets/getlogo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    
            <style>
    
    .custom-font {
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
            
            </style>

<style>
    
    ul.styled-list {
        list-style-type: none;
        padding: 0;
    }
    ul.styled-list li {
        background: #f9f9f9;
        margin: 10px 0;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
       
    }
    ul.styled-list li strong {
        color: #333;
        font-size: 1.1em;
        display: block;
        margin-bottom: 5px;
    }
</style>
</head>

<body>
    <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <img src="./Assets/getlogo.png" style="width:5vh; height:5vh;">
            <a class="navbar-brand custom-font" href="index">
                <span class="custom-font pro"><span> </span> MED</span><span class="custom-font">ELITE </span><span
                    class="custom-font health">Health</span><span class="custom-font">Care <span>Business
                        Consulting</span></span>
            </a>
            <button id="navbarToggler" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                
                <form class="d-flex ms-auto" role="search">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="aboutus">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="project">Projects</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link active" href="services">Services</a>
                        </li>
    
                        
                        <li class="nav-item">
                            <a class="nav-link" href="./contectus">Contact Us</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>

    <div class=" back">
        <div class="px-4 py-5 my-5 text-center" style="margin-top: 0 !important; padding-top: 0 !important;">
            <br>
            <br>
            <br><br><br><br><br>

            <h1 class="display-5 fw-bold" style="color: white; font-size: 10vw;">
                <span id="header" style="color: #e28c17; font-size: inherit;">Know</span> Our
                <span id="header1" style="color: #1bb0eb; font-size: inherit;">Pros</span>
                <hr style="margin: 0 20vw;">
            </h1>


            <div class="col-lg-6 mx-auto">

                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <br><br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>

    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="offer">
            Our Services
            <hr>
        </div>


        <!-- START THE FEATURETTES -->
        
            <!-- Featurette Container -->
            <div id="PLANNING" class="row featurette featurette-container left" onmouseover="showLead(this)" onmouseout="hideLead(this)">
                <!-- Left Column -->
                <div class="col-md-7 d-flex flex-column justify-content-center align-items-center text-center">
                    <h2 class="featurette-heading fw-normal lh-1">ARCHITECTURE PLANNING & DESIGNING</h2>
                    <div class="lead" style="text-align: justify;">

                        

                        

                        <ul class="styled-list">
                            <li><strong>Site Analysis:</strong> This includes a location plan outlining the property boundaries and surrounding context.</li>
                            <li><strong>Master Plan & Landscaping Design:</strong> This details the overall layout of the project, including building placement, walkways, and landscaping features.</li>
                            <li><strong>Area Calculations & Floor Area Ratio (FAR) Analysis:</strong> This provides a breakdown of usable space and ensures compliance with local building regulations.</li>
                            <li><strong>Conceptual Design Drawings:</strong> These initial sketches explore different design options for the project.</li>
                            <li><strong>Building Permit Drawings (Approval/Submission Drawings):</strong> These detailed drawings are required for obtaining official permits to proceed with construction.</li>
                            <li><strong>Structural Engineering Drawings:</strong> These illustrate the structural elements that support the building's safety and stability.</li>
                            <li><strong>Construction Drawings (Good For Construction - GFC):</strong> These comprehensive drawings with precise dimensions and specifications guide the construction process.</li>
                            <li><strong>Furniture Layout Plan:</strong> This suggests furniture placement for optimal functionality and aesthetics within the space.</li>
                            <li><strong>MEP (Mechanical, Electrical, Plumbing) Drawings:</strong> These illustrate the design and layout of the building's mechanical, electrical, and plumbing systems.</li>
                            <li><strong>3D Renderings:</strong> This includes a 3D model of the interior space and a front elevation rendering for visualizing the final design.</li>
                            <li><strong>Walkthrough Video: (Optional)</strong> This provides a virtual tour experience of the designed space.</li>
                        </ul>
                    
                        

                    </div>
                    <p class="lead1" style="text-align: justify;">Hower to Know</p>
                </div>
                <!-- Right Column -->
                <div class="col-md-5 d-flex flex-column justify-content-center align-items-center text-center">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="border-radius: 10px;" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect> <!-- Placeholder background color -->
                        <image xlink:href="./Assets/service11.jpg" width="500" height="500" preserveAspectRatio="xMidYMid slice"></image> <!-- Replace with your JPEG image path -->
                    </svg>
                </div>
            </div>
        
        <div id="HUMAN"class="row featurette featurette-container right"  onmouseover="showLead(this)" onmouseout="hideLead(this)">
            <div class="col-md-7 order-md-2 d-flex flex-column justify-content-center text-center">
                <h2 class="featurette-heading fw-normal lh-1"> HOSPITAL ASSESSMENT STUDY <span
                        class="text-body-secondary"></span></h2>
                <div class="lead" style="text-align: justify;">
                    <ul class="styled-list">
                        <li><strong>Financial Assessment:</strong> This assessment evaluates the hospital's financial health, including revenue streams, cost structure, and profitability.</li>
                        <li><strong>Human Resource Assessment:</strong> This assessment examines the hospital's workforce, including staffing levels, skillsets, and training programs.</li>
                        <li><strong>Marketing Assessment:</strong> This assessment analyzes the effectiveness of the hospital's marketing efforts in attracting and retaining patients.</li>
                        <li><strong>Biomedical Equipment Assessment:</strong> This assessment evaluates the adequacy, functionality, and maintenance practices of the hospital's medical equipment.</li>
                        <li><strong>Accreditation and Standards Assessment:</strong> This assessment ensures the hospital adheres to established accreditation standards and regulatory guidelines.</li>
                    </ul>
                </div>
                    <p class="lead1" style="text-align: justify; text-align: center;">Hower to Know</p>

            </div>
            <div class="col-md-5 order-md-1 d-flex flex-column justify-content-center align-items-center text-center">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="border-radius: 10px;" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect> <!-- Placeholder background color -->
                    <image xlink:href="./Assets/service/Handshake.jpg" width="500" height="500"
                        preserveAspectRatio="xMidYMid slice"></image> <!-- Replace with your JPEG image path -->

                </svg>
            </div>
        </div>

        <div id="FINANCIAL"id="PLANNING"class="row featurette featurette-container left"onmouseover="showLead(this)" onmouseout="hideLead(this)">
            <div class="col-md-7 d-flex flex-column justify-content-center text-center">
                <h2 class="featurette-heading fw-normal lh-1">COMMISSIONING ASSISTANCE <span
                        class="text-body-secondary"></span></h2>
                <div class="lead" style="text-align: justify;">
                    <ul class="styled-list">
                        <li><strong>Human Resource Management:</strong> Strategic recruitment, onboarding, and ongoing development of a qualified workforce.</li>
                        <li><strong>Training Modules:</strong> Design and implementation of customized training programs to ensure staff competency and efficient hospital operations.</li>
                        <li><strong>Information System (IT) Management:</strong> Implementation, optimization, and ongoing support of information technology infrastructure to facilitate data-driven decision making and improve patient care.</li>
                        <li><strong>Operations Management:</strong> Streamlining workflows, defining standard operating procedures, and establishing performance improvement initiatives.</li>
                        <li><strong>Marketing Management:</strong> Developing a comprehensive marketing plan to raise awareness, attract patients, and position the hospital within the healthcare landscape.</li>
                    </ul></div>
                    <p class="lead1" style="text-align: justify; text-align: center;">Hower to Know</p>
            </div>
            <div class="col-md-5 d-flex flex-column justify-content-center align-items-center text-center">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="border-radius: 10px;" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect> <!-- Placeholder background color -->
                    <image xlink:href="./Assets/service/finance-investment.jpeg" width="500" height="500"
                        preserveAspectRatio="xMidYMid slice"></image> <!-- Replace with your JPEG image path -->

                </svg>


            </div>
        </div>


        <div id="MANANAGENT"class="row featurette featurette-container right"onmouseover="showLead(this)" onmouseout="hideLead(this)">
            <div class="col-md-7 order-md-2 d-flex flex-column justify-content-center text-center">
                <h2 class="featurette-heading fw-normal lh-1">OPERATIONS MANAGEMENT <span
                        class="text-body-secondary"></span></h2>
                <div class="lead" style="text-align: justify;">
                    
                    <ul class="styled-list">
                        <li><strong>Daily Operations Management:</strong> Ensure smooth and efficient functioning of all hospital departments.</li>
                        <li><strong>Procurement and Resource Management:</strong> Strategically plan and acquire necessary resources (materials, equipment, personnel) to support operations.</li>
                        <li><strong>Inventory Management and Centralized Purchasing:</strong> Implement systems to optimize inventory levels and minimize costs through centralized purchasing processes.</li>
                        <li><strong>Quality Management:</strong> Develop and oversee programs to ensure consistent delivery of high-quality healthcare services.</li>
                        <li><strong>Workflow Alignment:</strong> Optimize processes across departments for improved efficiency and patient flow.</li>
                        <li><strong>Departmental Strategy and Scope:</strong> Define strategic objectives and service scope for existing and new departments.</li>
                        <li><strong>Hospital Norms:</strong> Establish and implement operational standards for optimal patient care and service delivery.</li>
                        <li><strong>Recordkeeping:</strong> Maintain meticulous and accurate hospital records for regulatory compliance and future reference.</li>
                        <li><strong>NABH Accreditation Support:</strong> Guide and facilitate the hospital's efforts in achieving and maintaining NABH accreditation.</li>
                    </ul>
                </div>
                    <p class="lead1" style="text-align: justify; text-align: center;">Hower to Know</p>

            </div>

            
            <div class="col-md-5 order-md-1 d-flex flex-column justify-content-center align-items-center text-center">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="border-radius: 10px;" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect> <!-- Placeholder background color -->
                    <image xlink:href="./Assets/management.jpeg" width="500" height="500"
                        preserveAspectRatio="xMidYMid slice"></image> <!-- Replace with your JPEG image path -->
                </svg>
            </div>
        </div>

        <div id="HEALTHCARE"class="row featurette featurette-container left"onmouseover="showLead(this)" onmouseout="hideLead(this)">
            <div class="col-md-7 d-flex flex-column justify-content-center text-center">
                <h2 class="featurette-heading fw-normal lh-1"> MARKETING MANAGEMENT<span
                        class="text-body-secondary"></span></h2>
                <div class="lead" style="text-align: justify;">
                    <ul class="styled-list">
                        <li><strong>Physician Relations:</strong> Build and maintain strong relationships with General Practitioners and other healthcare providers to generate referrals.</li>
                        <li><strong>Brand Management and Expansion:</strong> Develop and implement strategies to establish and expand the hospital's brand presence within the community and through outreach programs.</li>
                        <li><strong>Marketing Operations Management:</strong> Oversee day-to-day marketing activities to ensure efficient execution of marketing campaigns, and manage the annual marketing budget to ensure efficient allocation of resources and cost control.</li>
                        <li><strong>Patient Acquisition and Brand Promotion:</strong> Implement strategies to attract new patients, promote the hospital's brand and services, and utilize social media platforms to raise awareness and engage with potential patients.</li>
                        <li><strong>Lead Generation and Corporate Partnerships:</strong> Develop leads for potential collaborations with companies and healthcare institutions, and forge strategic partnerships with primary care centers for patient referrals.</li>
                        <li><strong>Customer Relationship Management:</strong> Develop and implement strategies to build and maintain positive relationships with patients.</li>
                        <li><strong>Service Expansion Strategy:</strong> Develop and implement strategies to expand the range of services offered at affiliated hospitals.</li>
                        <li><strong>Revenue Generation:</strong> Implement strategies to achieve established revenue targets for each quarter.</li>
                    </ul></div>
                    <p class="lead1" style="text-align: justify; text-align: center;">Hower to Know</p>
            </div>
            <div class="col-md-5 d-flex flex-column justify-content-center align-items-center text-center">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="border-radius: 10px;" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect> <!-- Placeholder background color -->
                    <image xlink:href="./Assets/marketing.png" width="500" height="500"
                        preserveAspectRatio="xMidYMid slice"></image> <!-- Replace with your JPEG image path -->

                </svg>


            </div>


        </div>



        <div id="EQUIPMENT"class="row featurette featurette-container right"onmouseover="showLead(this)" onmouseout="hideLead(this)">
            <div class="col-md-7 order-md-2 d-flex flex-column justify-content-center text-center">
                <h2 class="featurette-heading fw-normal lh-1">MEDICAL EQUIPMENT PLANNING  <span
                        class="text-body-secondary"></span></h2>
                        <div class="lead" style="text-align: justify;">
                            <ul class="styled-list">
                                <li><strong>EQUIPMENT SPECIFICATION:</strong> This stage involves understanding your facility's current equipment, future service offerings, and workflow needs. Here, you'll define the specific features, functionalities, and technical requirements for each piece of equipment needed.</li>
                                <li><strong>VENDOR DEVELOPMENT:</strong> This involves identifying potential vendors who can meet your equipment specifications and initiating communication.</li>
                                <li><strong>TECHNICAL AND COST COMPARATORS:</strong> Technical specifications, costs, and service offerings from different vendors are compared to find the best fit.</li>
                                <li><strong>NEGOTIATION AND ORDERING OF EQUIPMENTS:</strong> Negotiations occur to secure the best price and terms with the chosen vendor, followed by finalizing the purchase order.</li>
                                <li><strong>INSTALLATION AND COMMISSIONING:</strong> The equipment is delivered, installed by qualified technicians, and tested to ensure proper functionality.</li>
                            </ul></div>
                            <p class="lead1" style="text-align: justify; text-align: center;">Hower to Know</p>

            </div>

            
            <div class="col-md-5 order-md-1 d-flex flex-column justify-content-center align-items-center text-center">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="border-radius: 10px;" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect> <!-- Placeholder background color -->
                    <image xlink:href="./Assets/service/equip.jpg" width="500" height="500"
                        preserveAspectRatio="xMidYMid slice"></image> <!-- Replace with your JPEG image path -->
                </svg>
            </div>
        </div>


        



        <div id="HEALTHCARE"class="row featurette featurette-container left"onmouseover="showLead(this)" onmouseout="hideLead(this)">
            <div class="col-md-7 d-flex flex-column justify-content-center text-center">
                <h2 class="featurette-heading fw-normal lh-1">TECH. ASSISTANCE IN NABH ACCREDITATION <span
                        class="text-body-secondary"></span></h2>
                <div class="lead" style="text-align: justify;">
                    <ul class="styled-list">
                        <li>
                            <strong>Gap Analysis:</strong>
                            <p>A comprehensive evaluation is conducted to identify areas where the healthcare facility currently meets NABH standards and areas requiring improvement.</p>
                        </li>
                        <li>
                            <strong>System Requirement Specification:</strong>
                            <p>Specific requirements are outlined to achieve compliance with NABH standards. This includes developing policies, procedures, and documentation.</p>
                        </li>
                        <li>
                            <strong>Designing of the Systems & Putting in Place Required Documentation:</strong>
                            <p>The designed QMS (Quality Management System) is put into practice throughout the facility. All necessary documentation, including policies, procedures, and work instructions, are created, implemented, and maintained.</p>
                        </li>
                        <li>
                            <strong>Awareness Training to Hospital Staff at Various Levels:</strong>
                            <p>A multi-level training program is conducted to ensure all staff members understand their roles and responsibilities in upholding NABH standards.</p>
                        </li>
                        <li>
                            <strong>Implementation of Documented System:</strong>
                            <p>The implemented QMS is integrated into daily operations. Regular monitoring and internal audits are conducted to evaluate effectiveness and identify areas for ongoing improvement.</p>
                        </li>
                        <li>
                            <strong>Internal & External Audit of the System:</strong>
                            <p>An independent NABH assessment team conducts a site visit to evaluate the facility's compliance with NABH standards. Based on the findings, a final accreditation decision is made.</p>
                        </li>
                    </ul></div>
                    <p class="lead1" style="text-align: justify; text-align: center;">Hower to Know</p>
            </div>
            <div class="col-md-5 d-flex flex-column justify-content-center align-items-center text-center">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="border-radius: 10px;" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect> <!-- Placeholder background color -->
                    <image xlink:href="./Assets/service/it-2.jpg" width="500" height="500"
                        preserveAspectRatio="xMidYMid slice"></image> <!-- Replace with your JPEG image path -->

                </svg>


            </div>


        </div>

        

        

        
        <!-- /END THE FEATURETTES -->
    </div>

    <div class="footer" style="background-color:#ebebeb;margin: 0;padding: 0;">
        <div class="container">
            <footer class="py-3 my-4">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="nav-item"><a href="./index" class="nav-link px-2 text-body-secondary">Home</a></li>
                    <li class="nav-item"><a href="./aboutus" class="nav-link px-2 text-body-secondary">About Us</a></li>
                    <li class="nav-item"><a href="./project" class="nav-link px-2 text-body-secondary">Projects</a></li>
                    <li class="nav-item"><a href="./services" class="nav-link px-2 text-body-secondary">Services</a></li>
                    
                    <li class="nav-item"><a href="./contectus" class="nav-link px-2 text-body-secondary">Contact Us</a></li>
                </ul>
                <p class="text-center text-body-secondary">© 2024 MedElite HealthCare Business Consulting, Inc</p>
            </footer>
        </div>
    </div>


    <script src="./js/services.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>


</body>

</html>
